* {
    font-family: 'Comfortaa', sans-serif;
    
}

body {
background-color:aliceblue;
font-family:sans-serif;
}

footer {
    color:white;
    background-color: black;
}

.basic-button {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    border: 2px;
    font-size: 24px;
    width: auto;
    height: auto;
}

.basic-button:hover {
    background-color: white;
    color:  cornflowerblue;
    border-radius: 5px;
    border: 2px;
    font-size: 24px;
    width: auto;
    height: auto;
}

.basic-shadow {
    text-shadow: 2px;
}

.doctors {
    background-color:darkblue;
    text-align: center;
    color:white;
}

.avantages {
    text-align: center;
}

.fa-quote-left {
    font-size: 140px;
    font-style: italic;
    text-shadow: 10px 10px grey;
}

.review {
    text-align: center;
}

#contact {
    background-color:beige;
}

#navigation {
    background-color: cornflowerblue;
    border-radius: 5px;
}

#main-img {
    width: 50%;
    height: auto;
}

#blog-img {
    width: 50%;
    height: auto;
    border-radius: 15%;
}

#blog-img:hover {
    width: 70%;
    height: auto;
    border-radius: 5%;
}

#b-img {
    height: 50px;
    width: auto;
}

#doc-img {
    width: 25%;
    height: auto;
}

#doc-img:hover {
    width: 40%;
    height: auto;
}

#inter-img {
    width: 40%;
    height: auto;
}

#review-img {
    border-radius: 50%;
}

#menu-element {
    display:block;
    font: size 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

#menu-element:hover {
    background-color: white;
    border-radius: 5px;
}

#arbrologie-menu {
    display: block;
    font-size: large;
    text-align: center;
    width: 100%;
    height: 100%;
}

#arbrologie-menu:hover {
    background-color: white;
    display: block;
    border-radius: 5px;
}

#sous-menu {
    visibility: visible;
}

#el-form {
    border-radius: 15px;
}

#services {
    background-image: url("images/bg3.jpg");
}

#chiffres-cles {
    font-size: 40px;
}

#news {
    background-color: green;
    color: white;
}

::selection {
    background-color: #4AF27B;
}